<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <table>
        <tr th:each="job : ${jobs}">
            <td>
                <p><strong> ID: <span th:text="${job.id}"/></strong></p>
                <p><strong> Name: <span th:text="${job.name}"/></strong></p>
                <p><strong> Employer: <span th:text="${job.employer}"/></strong></p>
                <p><strong> Location: <span th:text="${job.location}"/></strong></p>
                <p><strong> Position Type: <span th:text="${job.positionType}"/></strong></p>
                <p><strong> Core Competency: <span th:text="${job.coreCompetency}"/></strong></p>
            </td>
        </tr>
    </table>
</div>

</body>
</html>